<% provide(:title, "Repair") %>
<%= render 'shared/navbar_repair' %>
<div class="container-fluid" style="padding:0">
 <section class="background">
   <div class="content-wrapper">
     <p class="content-title">Need a Tune Up?</p>
     <p class="content-title">We can Help.</p>
     <p class="content-subtitle">Scroll down for More</p>
   </div>
 </section>
 <section class="background">
   <div class="content-wrapper">
     <p class="content-title">Tune ups are $45</p>
     <p class="content-medium">This inculdes: </p>
     <div style="margin-left: auto; margin-right: auto;">
     <ul class="content-list">
       <li> Wheel alignment</li>
       <li> Brake and gear services</li>
       <li> Bottom crank check</li>
       <li> Headset check</li>
       <li> Clean up and lubrication</li>
     </ul>
   </div>
   <p class="content-subtitle" style="margin-top: 15px;">Scroll down for individual repair options</p>

   </div>
 </section>
 <section class="background">
   <div class="content-wrapper">
     <p class="content-medium">Looking for a specific repair?</p>
     <p class="content-medium">We got you covered.</p>

       <table class="table">
      <tbody>
        <tr>
          <td>Wheel alignment</td>
          <td>$14 for one or $20 for both</td>
        </tr>
        <tr>
          <td>Brake services</td>
          <td>$12</td>
        </tr>
        <tr>
          <td>Gear services</td>
          <td>$12</td>
        </tr>
        <tr>
          <td>Flat tire</td>
          <td>$14</td>
        </tr>
        <tr>
          <td>Respoke wheel</td>
          <td>$50</td>
        </tr>
      </tbody>
    </table>
     </div>

 </section>
</div>
