<% provide(:title, "Repair") %>

 <div  class="container-fluid" style="padding:0">
    <iframe id="ytplayer"
      src="https://www.youtube.com/embed/HereF6ee0Fc?autoplay=1&loop=1&list=PL1Qm-Ugsa8xXAy1G0tUQZWH0lsPDruDNN&controls=0&modestbranding=1&showinfo=0&autohide=1&disablekb=1&rel=0&index=1"
      frameborder="0" allowfullscreen>
      </iframe>
       <div class="logo2"></div>
       <div class="logo1"></div> 
     </div>

 <%= render 'shared/navbar' %>
    
<div class="container-fluid divContain">
    <p>infromation</p>
    
</div>
<%= render 'shared/footer' %>