<% provide(:title, "Edit user") %>
<div class ="container-fluid fix-contain editForm">
<%= image_tag("Login & Sign up/Update.png", alt:"update title", class:"signUpTitle") %>

<%= render "shared/form_layout" %>
      

</div>