<% provide(:title, "Edit user") %>
<% provide(:button_text, 'Save changes') %>


<div class ="container-fluid fix-contain editForm">
<%= render 'shared/flash' %>
<%= image_tag("Login & Sign up/Update.png", alt:"update title", class:"updateTitle") %>

<div class="gravatar_edit">
      <%= gravatar_for @user, size: 600 %>
      
    </div>
    
<%= render "shared/form_layout", path: edit_path %>


      

</div>