<% provide(:title, "Edit user") %>
<% provide(:button_text, 'Save changes') %>


<div class ="container-fluid fix-contain editForm">
<%= image_tag("Login & Sign up/Update.png", alt:"update title", class:"signUpTitle") %>


<%= render "shared/form_layout", path: edit_path %>

<br><br>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>  

</div>