<div class ="container-fluid fix-contain">
    
    <form>
        <%= image_tag("Login & Sign up/SignUpTitle.png", alt:"Sign up title", class:"signUpTitle") %>
        <label>
            <input type="text" required />
            <div class="label-text">Email Address</div>
        </label>
        <label>
            <input type="text" required />
            <div class="label-text">Name</div>
        </label>
  <label>
    <input type="text" required />
    <div class="label-text">Password</div>
  </label>
  <label>
    <input type="text" required />
    <div class="label-text">Confirmation</div>
  </label>
  <button type="button" class="btn btn-warning btn-lg" style="margin-right: 10px;"><span class="glyphicon glyphicon-home"></span></button>
  <button type="button" class="btn btn-success btn-lg">Submit</button>
</form>
</div>