<% provide(:title, "Sign up") %>
<% provide(:button_text, 'Register') %>
<div class ="container-fluid">
  <%= render 'shared/navbar' %>
  <%= render 'shared/flash' %>
  <div class="divHeader">
    <h1 id="signUpText">Sign Up</h1>
  </div>
<div id="signUpForm">
  <%= render "shared/form_layout", path: new_path %>
</div>
</div>
