<% provide(:title, "Sign up") %>
<% provide(:button_text, 'Create my account') %>

<div class ="container-fluid form ">
  <%= render 'shared/navbar' %>
  <%= render 'shared/flash' %>
  <div class="divHeader">
    <h1 id="signUpText">Sign Up</h1>
  </div>
  <%= render "shared/form_layout", path: new_path %>
</div>
