
<h1 id="blogH1">
    <%= link_to gravatar_for(current_user, size: 150), current_user, id: "gravPost"%>
    <%= current_user.name %>
</h1>
<span><%= pluralize(current_user.microposts.count, "micropost") %></span>
