
        <div id="navBar">
            <ul id="menu">
                <li id="logo">BikeProShop</li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Repairs</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
              
               
                <li id="shopDrop" style="position:absolute; top:0; left:935px;">
                    <a id ="shop" href="#">Shop</a>
                    <div style="display: none;" id="shopDisplay">Shop</div>
                        <div id="shopPanel">
                          <ul id="shop_titles">
                              <li id="bikes">Bikes</li>
                              <li id="acsor">Accessories</li>
                              <li id="parts">Parts</li>
                          </ul>
                          <div id="list">
                          <div>
                          <ul id="bicyle_list">
                               <li id="first"><a href="#">Mountain Bikes</a></li>
                               <li><a href="#">Road Bikes</a></li>
                               <li><a href="#">Hybrid Bikes</a></li>
                               <li><a href="#">Cruiser Bikes</a></li>
                               <li><a href="#">Tandem Bikes</a></li>
                               <li><a href="#">Trail-a-Bike</a></li>
                               <li><a href="#">BMX</a></li>
                               <li><a href="#">Adult Tricycles</a></li>
                               <li><a href="#">Kids Tricycles</a></li>
                               <li><a href="#">Kids bikes</a></li>
                               <li><a href="#">Custom Bikes</a></li>
                               <li><a href="#">Scooters</a></li>
                          </ul> 
                          </div>
                          <div>
                          <ul id="acsor_list">
                              <li><a href="#">Handlebar Grips</a></li>
                              <li><a href="#">Grip Tapes</a></li>
                              <li><a href="#">Seats</a></li>
                              <li><a href="#">Pad Locks</a></li>
                              <li><a href="#">Bottles</a></li>
                              <li><a href="#">Bottle Cages</a></li>
                              <li><a href="#">Bells</a></li>
                              <li><a href="#">BMX Pegs</a></li>
                              <li><a href="#">Kickstands</a></li>
                              <li><a href="#">Bicycle Computers</a></li>
                          </ul>
                          </div>
                        </div>
                    </div>
                </li>
            </ul>
               
            
        </div> 
   
    
      <div id="shopImage"></div>
      
      <div class=location>
        <h1>Store location</h1>
         <p>Barnyard Flea Market Greer, 2000 SC-101, Greer, SC 29651</p>
         <p id="lastP">Located at J51 & J52</p>
      <div id="map"></div>
       </div> 
 
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_Zu6BWfCvXHlP9HYcX0IeueqdToRVKRk&callback=myMap"></script>