
        <div id="navBar">
            <ul id="menu">
                <li id="logo">BikeProShop</li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Repairs</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                
                <li id="shopDrop" style="position:absolute; top:0; left:935px;">
                    <a id="shop" href="#">Shop</a>
                        <div id="shopPanel">
                          <ul id="shop_titles">
                              <li id="bikes">Bikes</li>
                              <li id="acsor">Accessories</li>
                              <li id="parts">Parts</li>
                          </ul>
                          <ul id="bicyle_list">
                               <li><a href="#">Mountain bikes</a></li>
                               <li><a href="#">Road bikes</a></li>
                               <li><a href="#">Beach Bikes</a></li>
                               <li><a href="#">BMX</a></li>
                               <li><a href="#">Kids bikes</a></li>
                          </ul> 
                    </div>
                </li>
            </ul>
               
             
        </div> 
        
      <%= image_tag "store1.JPG", id: "shopImage", alt: "The Bicycle Shop" %>
      
      <div class=location>
        <h2>Store location</h2>
         <p>Barnyard Flea Market Greer, 2000 SC-101, Greer, SC 29651</p>
         <p id="lastP">Located at J51 & J52</p>
      <div id="map"></div>
       </div> 
  
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_Zu6BWfCvXHlP9HYcX0IeueqdToRVKRk&callback=myMap"></script>