    
            
    <nav class="navbar navbar-inverse navbar-fixed-top" id="navBar">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>      
          </button>
          <a class="navbar-brand" id="logo" href="#">BikeProShop</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav" id="navList">
            <li id="home"><a href="#">Home</a></li>
            <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Shop<span class="caret"></span></a>
                      <ul id="shopPanel" class="dropdown-menu">
                          <!--creating row for the headers of the panel -->
                            <div id="shopHeader" class="row">
                              <!-- xs-samll phones, sm-tablets, md-desktops lg-large desktops -->
                              <div class= "col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <li style="color:white; padding-left:100px;">Bikes</li>
                              </div>
                              <div class= "col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <li style="color:white; padding-left:100px;">Accessories</li>
                              </div>
                              <div class= "col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <li style="color:white; padding-left:100px;">Parts</li>
                              </div>
                              
                          </div>
                          
                          <div class="row">
                            <div class= "col-xs-4 col-sm-4 col-md-4 col-lg-4">
                              <ul class="menuList">
                                   <li><a href="#">Mountain Bikes</a></li>
                                   <li><a href="#">Women Bikes</a></li>
                                   <li><a href="#">Road Bikes</a></li>
                                   <li><a href="#">Hybrid Bikes</a></li>
                                   <li><a href="#">Cruiser Bikes</a></li>
                                   <li><a href="#">Tandem Bikes</a></li>
                                   <li><a href="#">BMX</a></li>
                                   <li><a href="#">Tricycles</a></li>
                                   <li><a href="#">Kids bikes</a></li>
                                   <li><a href="#">Custom Bikes</a></li>
                                   <li><a href="#">More</a></li>
                              </ul> 
                            </div>
                            <div class= "col-xs-4 col-sm-4 col-md-4 col-lg-4">
                              <ul class="menuList">
                                   <li><a href="#">Pumps</a></li>
                                   <li><a href="#">Lights</a></li>
                                   <li><a href="#">Bells</a></li>
                                   <li><a href="#">Baskets</a></li>
                                   <li><a href="#">Bottles</a></li>
                                   <li><a href="#">Bottle Cages</a></li>
                                   <li><a href="#">BMX Pegs</a></li>
                                   <li><a href="#">Pad Locks</a></li>
                                   <li><a href="#">Computers</a></li>
                                   <li><a href="#">Kickstands</a></li>
                                   <li><a href="#">More</a></li>
                              </ul> 
                            </div>
                            <div class= "col-xs-4 col-sm-4 col-md-4 col-lg-4">
                              <ul class="menuList">
                                   <li><a href="#">Grips & Bartapes</a></li>
                                   <li><a href="#">Brake Levers/Pads/Cables</a></li>
                                   <li><a href="#">Gear Cables</a></li>
                                   <li><a href="#">Shifters</a></li>
                                   <li><a href="#">Saddles</a></li>
                                   <li><a href="#">Tires</a></li>
                                   <li><a href="#">Wheels</a></li>
                                   <li><a href="#">Cassettes/Freewheel</a></li>
                                   <li><a href="#">Chains</a></li>
                                   <li><a href="#">Petals</a></li>
                                   <li><a href="#">More</a></li>
                              </ul>
                            </div>
                          </div>
                      </ul>
                </li>
                
            <li><a href="#">Repairs</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
    <!--Carousel-->                
      <div class="container-fluid">
          <br>
           <div class="row">
              <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                  <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>
            
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                      <%= image_tag("store3.jpg") %>
                    
                  </div>
            
                  <div class="item">
                      <%= image_tag("store1.jpg") %>
                    
                  </div>
                
                  <div class="item">
                      <%= image_tag("mechanic1.JPG") %>
                    
                  </div>
                  <div class="item">
                      <%= image_tag("bicycleTires1.JPG") %>
                  </div>
                </div>
            
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
              </div>
            </div>
       
      <div class="container-fluid">
         <div class="jumbotron">
           <div class="row">
              <div class=location>
                <h2>Store location</h2>
                 <p>Barnyard Flea Market Greer, 2000 SC-101, Greer, SC 29651</p>
                 <p id="lastP">Located at J51 & J52</p>
              <div id="map"></div>
           </div>
           </div>
        </div>
    </div>
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_Zu6BWfCvXHlP9HYcX0IeueqdToRVKRk&callback=myMap"></script>