.editForm{
  height: 130%;
  text-align: center;
  position: relative;
  z-index: 1;
}
.editForm:before {
  position: absolute;
  z-index: -1;
  height: 160vh;
  width: 100%;
  background: url('Gallery/accounting.JPG');
  opacity: 0.45;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.gravatar_edit{
  margin: auto;
  padding: 20px;
  img {
    width: 16%;
    border-radius: 115px;
  }
}

.updateTitle{
   width: 40%;
  margin-top: 20px;

}