
// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
          body, html {
               background: hsl(0, 0%, 85%);
               height: 100%;
               margin: 0;
           }
           #navBar{
               background: rgb(41, 41, 44); /* For browsers that do not support gradients */
               background: -webkit-linear-gradient(hsl(240, 4%, 31%),  rgb(41, 41, 44), hsl(240, 6%, 10%)); /* For Safari 5.1 to 6.0 */
               background: -o-linear-gradient(hsl(240, 4%, 31%),  rgb(41, 41, 44),hsl(240, 6%, 10%)); /* For Opera 11.1 to 12.0 */
               background: -moz-linear-gradient(hsl(240, 4%, 31%),  rgb(41, 41, 44),hsl(240, 6%, 10%)); /* For Firefox 3.6 to 15 */
               background: linear-gradient(hsl(240, 4%, 31%),  rgb(41, 41, 44),hsl(240, 6%, 10%)); /* Standard syntax */
           } 
           #navList li a{
                       font-family: Verdana,Geneva,sans-serif;
                       letter-spacing: 3px;
                       font-size: 12px;
                       display: block;
                       padding: 16px 20px;
                      
                       text-decoration: none;
                       }
             #logo {
                   font-family: impact;
                   font-size: 18px;
                   

                 }  
            #navList >li:not(#home) a:hover:not(#logo)
            {
               color: hsl(173, 88%, 47%);
               text-shadow: 0 0 20px hsl(179, 100%, 66%);
            }
            .nav .active {
                 background-color:blue;
            }
               #shopPanel {
                   left: 110px;
                   width: 75%;
                   
                   background: hsl(240, 6%, 10%); /* For browsers that do not support gradients */
                   background: -webkit-linear-gradient(hsl(240, 6%, 10%),  hsl(240, 4%, 25%)); /* For Safari 5.1 to 6.0 */
                   background: -o-linear-gradient(hsl(240, 6%, 10%),  hsl(240, 4%, 25%)); /* For Opera 11.1 to 12.0 */
                   background: -moz-linear-gradient(hsl(240, 6%, 10%),  hsl(240, 4%, 25%)); /* For Firefox 3.6 to 15 */
                   background: linear-gradient(hsl(240, 6%, 10%),  hsl(240, 4%, 25%)); /* Standard syntax */
                   margin-top:1px;
                   padding-bottom: 20px;
                   border: solid 1px hsl(240, 6%, 30%);
                   border-top: solid 2px hsl(179, 100%, 66%);
                   display: none;
                   position: fixed;
                   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4), inset 0 10px 10px -9px hsl(179, 100%, 66%);
                   #shop_titles {
                       border-bottom: solid 3px hsl(240, 6%, 20%);
                       padding-top: 10px;
                       padding-bottom: 10px;
                       font-family:"Helvetica Neue",Arial;
                       color: white;
                       li {
                           display: inline;
                           list-style-type: none;
                        }
                       #bikes {
                           padding-left: 40px;
                        }
                       #acsor{
                           padding-left: 120px;
                        }
                       #parts{
                           padding-left: 120px;
                       }
                   }
                   #bicyle_list {
                       padding-top: 5px;
                       position: relative;
                       left: -30px;
                       li {
                           line-height: 1px;
                           list-style-type: none;
                           font-family: "Helvetica Neue", Arial;
                           font-size: 10px;
                           a {
                            color: white;
                            text-decoration: none;
                           }
                       }
                   }
               }
          
           .jumbotron {
               background: hsl(0, 0%, 85%);
           }
           .location {
               
               border-top: 1px solid #c3c3c3;
               background: hsl(0, 0%, 85%);
               
               p{
                   text-align: center;
               }
               h2{
                   font-family:"Helvetica Neue", Helvetica;
                   text-align: center;
               }
            #map {
               
               padding-top: 50px;
               margin: auto;
               width: 60%;
               height: 500px;
            }
           }
         
           .menuShadow {
               box-shadow: inset 0 -10px 12px -10px hsl(179, 100%, 66%);
           }
       
           .carousel-inner > .item > img,
          .carousel-inner > .item > a > img {
              width: 100%;
              height: 80%;
              
          }
        //This will make the carousel fade
          .carousel-fade {
            .carousel-inner {
                .item {
                    transition-property: opacity;
                }
            
            .item,
            .active.left,
            .active.right {
                opacity: 0;
            }
    
            .active,
            .next.left,
            .prev.right {
                opacity: 1;
            }
    
            .next,
            .prev,
            .active.left,
            .active.right {
                left: 0;
                transform: translate3d(0, 0, 0);
            }
        }

    
}
