
            body, html {
               background: black;
               position: relative;
                top: -150px;
               height: 100%;
               margin: 0;
               z-index: 4;
           }
            #ytplayer {
                position: relative;
                top: 120px;
                z-index: -1;
                opacity: 0.65;
                width: 100%;
                height: 830px;
                padding-bottom: 0;
                margin-bottom: 0;
            }
           .logo1 {
                position: absolute;
                top: 10%;
                background-image: url('LogoPart2.png');
                height: 1100px;
                width: 100%;
                
                background-position: 66% 35%;
                background-repeat: no-repeat;
                background-size: auto 650px;
                
                opacity: 0;
                transform: translatex(30px);
                
                
            }
            
           .logo2 {
          
                position: absolute;
                top: -8%;
                background-image: url('LogoPart1.png');
                height: 1200px;
                width: 100%;
                
                background-position: 36%;
                background-repeat: no-repeat;
                background-size: auto 250px;
                
                opacity: 0;
                transform: translatex(-30px);
                
           }
           
           .is-showing-logo {
              transition: all 0.8s ease-in-out;
              opacity: 1;
              transform: translatex(0px);  
            }
            
            
           //set the navbar to the top and width to 100% when the user scrolls past it
           .affix {
              top: 0;
              width: 100%;
          }
          //makes the transition smoother 
          .affix + .container-fluid {
              padding-top: 60px;
          }
           #navBar{
               
               border: none;
               margin-bottom: 0;
               z-index: 99;
               border-radius: 0;
               
               background: hsl(24, 99%, 52%); /* For browsers that do not support gradients */
               background: -webkit-linear-gradient(hsl(24, 99%, 52%), hsl(24, 99%, 46%), hsl(24, 99%, 40%)); /* For Safari 5.1 to 6.0 */
               background: -o-linear-gradient(hsl(24, 99%, 52%), hsl(24, 99%, 4%), hsl(24, 99%, 40%)); /* For Opera 11.1 to 12.0 */
               background: -moz-linear-gradient(hsl(24, 99%, 52%), hsl(24, 99%, 46%), hsl(24, 99%, 40%)); /* For Firefox 3.6 to 15 */
               background: linear-gradient(hsl(24, 99%, 52%), hsl(24, 99%, 46%), hsl(24, 99%, 40%)); /* Standard syntax */
               
           }
           .navLightBar {
               -webkit-box-shadow: inset 0 -8px 20px -5px orange; //Safari
	           -moz-box-shadow: inset 0 -8px 20px -5px orange; //Firefox
	            box-shadow: inset 0 -8px 20px -5px orange; //Standard syntax
           }
           .navbar-toggle {
               background-color: hsl(24, 99%, 52%);
           }
           .navbar-toggle:hover {
               background-color: hsl(24, 99%, 22%);
           }
           #navList >li>a{
                       font-family: sans-serif;
                       
                       letter-spacing: 3px;
                       font-size: 12px;
                       display: block;
                       padding: 16px 20px;
                       color: white;
                       text-decoration: none;
                       }
            
            #navList >li a:hover
            {
               color: hsl(24, 99%, 20%);
               
            }
            #iconsRight li a{
                color: white;
                
            }
            #iconsRight li a:hover {
                    color: hsl(24, 98%, 16%);
                }
               #shopPanel  {
                   
               background: hsl(24, 99%, 52%); /* For browsers that do not support gradients */
               background: -webkit-linear-gradient(hsl(24, 99%, 40%), hsl(24, 99%, 46%), hsl(24, 99%, 52%)); /* For Safari 5.1 to 6.0 */
               background: -o-linear-gradient(hsl(24, 99%, 40%), hsl(24, 99%, 46%), hsl(24, 99%, 52%)); /* For Opera 11.1 to 12.0 */
               background: -moz-linear-gradient(hsl(24, 99%, 40%), hsl(24, 99%, 46%), hsl(24, 99%, 52%)); /* For Firefox 3.6 to 15 */
               background: linear-gradient(hsl(24, 99%, 40%), hsl(24, 99%, 46%), hsl(24, 99%, 52%)); /* Standard syntax */
               
               border: solid 1px hsl(240, 6%, 30%);
               border-top: solid 2px orange;
                   
               box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4), inset 0 10px 15px -8px orange;
               li a{
                   color: white; 
               }
               .dropdown-header {
                   color: hsl(24, 99%, 20%);
               }
               .divider{
                   background-color: hsl(24, 98%, 40%);
               }
                   }
       
         
            
            .tuneHeader {
                position: relative;
                top: 30px;
                left: 26%;
                height: 250px;
                
                 
            }
            
            #tuneInfo {
                position: relative;
                font-family: 'Buenard', serif;
                font-size: 20px;
                
                width: 100%;
                text-align: center;
                margin: 0;  
                margin-bottom: 5%;
                padding: 0;
                p {
                    padding-left: 20%;
                    width: 80%;
                }
            }

            .customer {
                position: relative;
                height: 180px;
                right: 10%;
                
            }
            .mechanic {
                position: relative;
                
                margin-top: 2%;
                height: 210px;
                left: 10%;
                
            }
            .cust_bicycle {
                position: absolute; 
                z-index: 1;
                top: 7%;
                left: 24%;
                height: 280px; 
            }
            
            #window1 {
                background-image: url('repair3.JPG');
                height: 720px;
                
                background-position: bottom center;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 100%;
            }
             #window2 {
                 background-image: url('repair4.JPG');
                height: 720px;
                
                background-position: bottom;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 100%;
             }
            #window3 {
                 background-image: url('repair6.JPG');
                height: 720px;
                
                background-position: top center;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 100%;
             }
             #window4 {
                 background-image: url('repair7.JPG');
                height: 720px;
                
                background-position: top center;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 100%;
             }
           .jumbotron {
               background: hsl(34, 100%, 95%);
               margin-bottom: 0;
               margin-top: 0;
               
           }
          
           .contactHeader {
               width: 60%;
               
               position: relative;
               left: 20%;
           }
           .location p{
                   padding-left: 10%;
              
                
           }
           
         #map {
               
               padding-top: 50px;
               padding-bottom: 50px;
               width: 100%;
               height: 500px;
            }
           
          
          

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed 
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}*/