$body-theme: hsl(34, 100%, 95%);
$bike-theme: hsl(24, 99%, 52%);
$c1: #035e7b;
$c2: #fff;
$c3: #eff1c5;
$t: 0.3s;
$d: $t / 121;

@import url('https://fonts.googleapis.com/css?family=Signika+Negative:700');

@mixin windowCSS {
   margin: 0;
   padding: 0;
   height: 720px;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}

body,
html {
   background: #fcfcfc;
   position: relative;
   margin: 0;
   z-index: 4;
   //padding-bottom: 7%;
}
#mobileVersion {
  display: none;
}
//fancy button
#clickMe {
  display: block;
  position: relative;
  top: 30px;
  left: 1vw
}
.cont, .cont > a {
  position: absolute;
  height: 40px;
  width: 120px;
}
.cont {
  left: 49vw;
  margin: -20px 0 0 -60px;
  a{
     font-family: 'Signika Negative', sans-serif;
    z-index: 2;
    display: block;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: rgb(252, 252, 252);
    transition: all $t;

    &:hover {
      ~ #fancyBtn > #line:nth-child(odd){
        transform: scaleY(1.2);
        opacity: 0.2;
      }
      ~ #fancyBtn > #line:nth-child(even) {
        transform: scaleY(-0.2) translateX(-1px);
        opacity: 0.2;
      }
      transform: scale(1.1);
      color: $bike-theme;
    }
  }
}

#fancyBtn {
  overflow: visible;
  #line{
    stroke: $bike-theme;
    stroke-width: 1px;
    transition: all $t;
    transform-origin: 50% 0%;
  }
  @for $i from 1 through 121{
    #line:nth-child(#{$i}){
      transition-delay: $i * $d;
  }
  }
  &:hover {
    #line:nth-child(odd){
      transform: scaleY(1.2);
    }
    #line:nth-child(even){
      transform: scaleY(-0.2);
    }
  }

}

.Header {
   width: 60%;
   padding: 0;
   display: block;
   margin: auto;
}
.locationHeader {
  width: 30%;
  position: relative;
  left: 35%;
}
.headerContain {
   margin: 0;
   padding: 0;
   width: 100%;
   background-color: rgb(252, 252, 252);
   overflow: hidden;
}

#tuneInfo {
   position: relative;
   font-family: 'Buenard', serif;
   font-size: 20px;
   width: 100%;
   padding: 0;
   text-align: center;

   margin-bottom: 5%;

   padding-bottom: 30px;
   p {
      margin: auto;
       width: 80%;
   }
}
.mobileCusMech {
  display: none;
  margin: auto;
}
.customer {
   position: relative;
   height: 12.5vw;
   margin-top: 1%;
   right: 10%;

}

.mechanic {
   position: relative;
   margin-top: 1.8%;
   height: 15vw;
   left: 5%;
}

.cust_bicycle {
   position: absolute;
   z-index: 1;
   top: 7%;
   left: 30%;
   height: 19vw;
}

#window1 {
   background-image: url('Home/repair3.JPG');
   border-bottom: black solid 4px;
   background-position: bottom center;
   @include windowCSS;
}

#window2 {
   background-image: url('Home/repair4.JPG');
   background-position: bottom;
   border-bottom: black solid 4px;
   @include windowCSS;
}

#window3 {
   background-image: url('Home/repair6.JPG');
   background-position: top center;
   border-bottom: black solid 4px;
   @include windowCSS;
}

#window4 {
   background-image: url('Home/repair7.JPG');
   background-position: top center;
   @include windowCSS;
}

.locationBody {
   padding-left: 50px;
}

#map {
   padding-top: 50px;
   padding-bottom: 50px;
   width: 100%;
   height: 70vh;
   border: 1px solid;
}
.addressHeader{
  width: 30%;
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 10px;
}
.contactHeader {
  width: 23%;
  display: block;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 10px;
}
#address {
  width: 80%;
  margin: auto;
 p{
     margin: auto;
  font-size: 1.6em;
  font-family: 'Signika Negative', sans-serif;
}
}
#phone, #email{
   font-size: 1.6em;
   font-family: 'Signika Negative', sans-serif;
}
#email{
  margin-bottom: 50px;
}
#line {
  border-bottom: 1px solid;
  width: 35%;
  margin: auto;
  margin-bottom: 30px;
}
.mechanicInfo{
  width: 90%;
  margin: auto;
  div p {
    padding-top: 20px;
    font-family: 'Buenard', serif;
    font-size: 20px;
  }
}
.oldPic {
  width: 100%;
  padding: 2.5%;
  padding-top: 0;
  padding-bottom: 5%;
  margin: auto;
}

.mobilePicContainer {
  display: none;
}
.topPic {
  width: 100%;
}
@media only screen and (max-width: 1024px) {
  #desktopVersion{
    display: none;
  }
  #mobileVersion{
    display:block;
  }
  .mobilePicContainer {
    display: block
  }
  .yt {
    display: none;
  }
  .customer {
    height: 25vw;
    margin-left: 3vw;
    display: none;
  }
  .mechanic {
    height: 32vw;
    margin-right: 3vw;
    display: none;
  }
  .cust_bicycle {
    height: 35vw;
    position: relative;
    margin: 0;
    display: none;
  }
  .mobileCusMech {
    display: block;
    height: 15vw;
  }

}
@media only screen and (max-width: 700px) {
  .windows {
    display: none;
  }
  .mobileCusMech {
    height: 25vw!important;
  }
    #tuneInfo{
      font-size: 1.3em;
      p {
        margin: auto;
        width: 90%;
        padding: 0;
      }
    }
    .mechanicInfo div p {
      font-size: 1.3em;
    }
    .Header{
      margin-top: 10%;
      width: 80%;
    }
    #map {
      height: 70vw;
    }
    #address p{
      font-size: 1.2em;
    }
    #phone, #email{
       font-size: 1.2em;

    }
  }
