$body-theme: hsl(34, 100%, 95%);
$bike-theme: hsl(24, 99%, 52%);
/* The Modal (background) */
#loginModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1001; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */

    background-color: rgba(0,0,0,0.9); /* Fallback color */
}

.checkbox {
  margin: 0;
  padding: 20px 0 30px 0;
  span {
    margin-left: 18px;
    font-family: 'Raleway', sans-serif;
    font-size: 11px;
  }
}

#session_remember_me {
  width: auto;
  margin-left: -2px;
}

#session_password {
  margin-top: 15px;
  margin-bottom: 10px;
}
#session_email {
  margin-bottom: 20px
}
#session_email, #session_password {
  padding: 15px 15px 0px 0px;

}
#forgotPass {
  color: #0645AD;
  margin-left: 25px;
  font-family: sans-serif;
  font-size: 12px;

}

.modal-content {
    margin: auto;
    display: block;
    width: 260px;
    max-width: 700px;
    position: relative;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.65s;
    animation-name: animatetop;
    animation-duration: 0.65s

}
#loginHeader {
  font-size: 30px;
  position: relative;
  top: 10px;
  padding-bottom: 0;

}

#logintop {
  height: 55px;
  width: 258px;

  background: darken($bike-theme, 4%);


  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 5px 1px rgba(0,0,0,0.2);;
}
#loginForm {
  box-sizing: border-box;
  width: 260px;
  margin: -20px auto 0;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2);
  border-radius: 3px;
  h1 {
    box-sizing: border-box;
    padding: 20px;

  }
}

.input {
  z-index: 99;
  margin: 40px 25px;
  width: 200px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px $bike-theme;
  transition: all 0.275s cubic-bezier(.64,.09,.08,1);
  font-size: 11px;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $bike-theme 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: black;

  &:focus, &:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    &::-webkit-input-placeholder {
      color: $bike-theme;
      font-size: 11px;
      transform: translateY(-20px);
      visibility: visible !important;
    }
  }
}

#loginSumbit {
  border: none;
  background: $bike-theme;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 200px;
  color: white;
  margin-left: 25px;
  margin-top: 20px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
  }
}
.loginImg1 {
    z-index: 98;
    height: 85px;
    position: relative;
    left: 33%;
    top: 17%;
     &:hover {
    transform: translateY(-5px);

  }
}
/* The Close Button */
.closeLogin {
    position: absolute;
    top: -10%;
    right: 5px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    opacity: 0.45;
}

.closeLogin:hover,
.closeLogin:focus {
    color:black;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.7;
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: 300px; opacity: 0}
    to {top: 0px; opacity: 1}
}

@keyframes animatetop {
    from {top: 300px; opacity: 0}
    to {top: 0px; opacity: 1}
}
