#navBarRepair, #navBarTrans {
   border: none;
   margin-bottom: 0;
   z-index: 98;
   border-radius: 0;
   background-color: rgba(0,0,0,0.5);
   transition: all 0.3s ease-in-out;
}
#navListRepair>li>a , #navListTrans>li>a{
   font-family: 'Buenard', serif;
   letter-spacing: 3px;
   font-size: 12px;
   display: block;
   padding: 16px 20px;
   color: rgb(230,230,230);
   text-decoration: none;
}
#navListRepair>li a:hover, #navListTrans>li a:hover {
   color: white;
}
#iconsRightRepair li a {
 color: rgb(230,230,230);
}

#loginRepair {
  color: rgb(230,230,230);
  font-size: 15px;
  position: relative;
  top: 15px;
}

#iconsRightRepair li:hover, #iconsRightRepair li a:hover, #iconsRightTrans li:hover, #iconsRightTrans li a:hover{
   color: white;
}
#shopPanelRepair, #userPanelRepair, #shopPanelTrans, #userPanelTrans {
    top: 51px;
    background-color: rgba(0,0,0,0.5);

   li a {
       color: white;
      &:hover, {
        background-color: rgba(63, 63, 63,0.5);

      }
   }
   .dropdown-header {
       color: rgb(230,230,230);
   }

}
