@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$text-color: rgb(210, 210, 210);
#navBar {
   border: none;
   margin-bottom: 0;
   z-index: 98;
   border-radius: 0;
   background-color: rgba(0,0,0,0.5);
   transition: all 0.3s ease-in-out;

   position: -webkit-sticky;
   position: sticky;
   top: -1px;
}
.dropdown {
  cursor: pointer;
}

#navLogo {
  margin-top: 5px;
  margin-right: 5px;
}
#navList>li>a{
   font-family: 'Righteous', cursive;
   font-size: 15px;
   display: block;

   color: $text-color;
   text-decoration: none;

   &:hover{
    color: white;
   }
}

#navLogin {
  color: $text-color;
  font-size: 15px;
  position: relative;
  top: 15px;
  font-family: 'Righteous', cursive;
  &:hover {
    color: white;
    cursor: pointer;
  }
}
#sigin a{
  color: $text-color;
  font-size: 15px;
  font-family: 'Righteous', cursive;
  &:hover {
    color: white;
  }
}
#iconsRight li:hover, #iconsRight li a:hover{
   color: white;
}
#shopPanel, #userPanel{
    background-color: rgba(0,0,0,0.8);
   li a {
       color: white;
       font-family: 'Open Sans', sans-serif;

      &:hover {
        background-color: rgb(238, 89, 17);
      }
   }
   .dropdown-header {
       color: rgb(150,150,150);
       font-family: 'Open Sans', sans-serif;
       font-weight: bold;
   }

}
