.resetForm {
     height: 130%;
  text-align: center;
  position: relative;
  z-index: 1;
}

.resetForm:before {
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100%;
  background: url('Gallery/paintCans.JPG');
  opacity: 0.45;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.forgotForm{
       height: 130%;
  text-align: center;
  position: relative;
  z-index: 1;
}


.forgotForm:before {
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100%;
  background: url('Repairs/tools2.JPG');
  opacity: 0.45;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.forgotTitle {
  width: 40%;
  margin-top: 20px;
  margin-bottom: 30px;
}

#passReset {
   width: 40%;
  margin-top: 20px;
  margin-bottom: 30px;
}