
.GalleryLogo{
    width: 60%;
    position: absolute;
    top: -5%;
    left: 20%;
}
#galleryBody {
    margin: 0;

    background: rgb(252,252,252);

}
.galleryImage {
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    &:hover {
        opacity: 0.7;

    }
}
.tumbArrow{
  margin: auto;
  position: relative;
  top:2.7vh;
  width: 8.2%;
}
.col-md-3{
    margin: 0;
    padding: 0;
}
#closeModal{
  color: white;
  opacity: 0.7;
  font-size: 4.5em;
  cursor: pointer;
  position: absolute;
  left: 94%;

}
#modalImg {
    margin: auto;
    width: 105vh;
    display: block;
    margin-top: 2%;
    margin-bottom: 2%;
    /* Add Animation */

    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.4s;
    animation-name: zoom;
    animation-duration: 0.4s;

    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}
#myTumb
{
  margin: auto;
  width: 90%;
}

#tumbLeft, #tumbRight {

  cursor: pointer;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  color: white;
  font-size: 2em;
}

.tumbImgs{

  position: relative;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  display: inline-block;
  width: 120px;
  margin-left: 5px;
  &:hover {
      cursor: pointer;
  }
}
.notLast {
  z-index:99;
}
/* The Modal (background) */
.modal {
    margin: auto;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow:scroll; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    -webkit-animation-name: appear;
    -webkit-animation-duration: 0.3s;
    animation-name: appear;
    animation-duration: 0.3s;
}
//This is for displaying new tumb image appearing when you rotate
.appearTumb {
  -webkit-animation-name: appear;
  -webkit-animation-duration: 0.3s;
  animation-name: appear;
  animation-duration: 0.3s;
}
//animation for displaying and move tumbs up when an image is clicked on
.displayTumb {
  -webkit-animation-name: tumbAnimation;
  -webkit-animation-duration: 1s;
  animation-name: tumbAnimation;
  animation-duration: 1s;
}

.displayArrows {
  -webkit-animation-name: arrowAnimation;
  -webkit-animation-duration: 1s;
  animation-name: arrowAnimation;
  animation-duration: 1s;
}
//rotate tumb images to the left
.moveTumbLeft {
 -webkit-animation-name: moveLeft;
 -webkit-animation-duration: 0.3s;
 animation-name: moveLeft;
 animation-duration: 0.3s;
}
//rotate tumb images to the left
.moveTumbLeftSmall {
 -webkit-animation-name: moveLeftSmall;
 -webkit-animation-duration: 0.3s;
 animation-name: moveLeftSmall;
 animation-duration: 0.3s;
}
//rotate tumb images to the right
.moveTumbRight {
  -webkit-animation-name: moveRight;
  -webkit-animation-duration: 0.3s;
  animation-name: moveRight;
  animation-duration: 0.3s;
}
.moveTumbRightSmall {
  -webkit-animation-name: moveRightSmall;
  -webkit-animation-duration: 0.3s;
  animation-name: moveRightSmall;
  animation-duration: 0.3s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

@-webkit-keyframes appear{
    from {opacity:0}
    to {opacity:1}
}

@keyframes appear {
    from {opacity:0}
    to {opacity:1}
}
@keyframes moveLeftSmall {
  from{left: 0px}
  to {left: -16vw}
}
@-webkit-keyframes moveLeftSmall{
  from{left: 0px}
  to {left: -16vw}
}

@keyframes moveLeft {
  from{left: 0px}
  to {left: -125px}
}
@-webkit-keyframes moveLeft {
  from{left: 0px}
  to {left: -125px}
}
@keyframes moveRightSmall {
  from{left: 0px}
  to {left: 16vw}
}

@-webkit-keyframes moveRightSmall {
  from{left: 0px}
  to {left: 16vw}
}
@keyframes moveRight {
  from{left: 0px}
  to {left: 125px}
}

@-webkit-keyframes moveRight {
  from{left: 0px}
  to {left: 125px}
}
@keyframes tumbAnimation {
  from{top: 55px; opacity: 0;}
  to {top: 0px; opacity: 1;}
}
@-webkit-keyframes tumbAnimation {
  from{top: 55px; opacity: 0;}
  to {top: 0px; opacity: 1;}
}
//animation for left and right arrows. top must be 10
@keyframes arrowAnimation {
  from{top: 55px; opacity: 0;}
  to {top: 10px; opacity: 1;}
}
@-webkit-keyframes arrowAnimation {
  from{top: 55px; opacity: 0;}
  to {top: 10px; opacity: 1;}
}

@media only screen and (max-width: 1400px)
{
  #tumbImg9{
    display: none;
  }
  #myTumb{
    width: 80%;
  }
}

@media only screen and (max-width: 1390px){
  #tumbImg8{
    display: none;
  }
  #myTumb{
    width: 1008px;
  }
}
@media only screen and (max-width: 1360px){
  #tumbImg7{
    display: none;
  }
  #myTumb{
    width:820px;
  }
}
@media only screen and (max-width:815px){
  #tumbImg6{
    display: none;
  }
  #modalImg {

      width: 97%;
    }
    #myTumb{
      width: 90%;
    }
    .tumbImgs {
      width: 16%;
    }
  }
  @media only screen and (max-width:500px){
    #tumbLeft, #tumbRight {
      font-size: 1em;
    }
    }
