  $body-theme: hsl(34, 100%, 95%);
  $bike-theme: hsl(24, 99%, 52%);
  .fix-contain {
            padding:0;
            margin:0;

        }
.pageHeader {
    height: 830px;

}
 #shopHeader {
    background-image: url('Shop/store2.JPG');
    height: 100%;
    background-position: center -450px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
.col-md-6 {
  padding: 0;
  p {
    color: black;
    text-align: center;
    padding: auto;
  }
}
.row {
  margin: 0;
}
.topTenPic{

  width: 100%;
  transform: scale(1);
  transition: all 0.45s ease-in-out;
}

.zoomIn {
  cursor: pointer;
  border: 2px solid black;
  overflow: hidden;
  background-color: black;
  transition: all 0.45s ease-in-out;
  &:hover{
    .topTenPic{
    transform: scale(1.05);
    opacity: 0.7;
    transition: all 0.45s ease-in-out;
    }
    .caption{
    opacity: 0.9;
    transition: all 0.45s ease-in-out;
    }
}
}
.caption{
  color: white;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  padding: 5px;
  left: 42%;
  bottom: 45%;
  font-size: 20px;
  font-family: 'Signika Negative', sans-serif;
  opacity: 0;
  transition: all 0.45s ease-in-out;
}

#shopModalImg {
    position: relative;
    top: 5%;
    left: -5%;
    width: 60%;
    z-index: 99;
    transform: scale(0.8);
}
/* The Modal (background) */
.modal3 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */

    background-color: rgba(0,0,0,0.9); /* Fallback color */
}

.bicycleInfo {
  z-index: 97;
  width: 48%;
  font-size: 32px;
  font-family: 'Signika Negative', sans-serif;
  color: white;
  display: none;
  position: absolute;
  top: 0;

}
#infoBox{
  position: absolute;
  left: 50%;
  bottom: 75%;
    width: 100%;
    z-index: 97;
  opacity: 1;
  text-align: center;

}
.bicycleInfo p {
  border: 0;
  margin: 0;
  padding-bottom: 10px;
  position: relative;
  transition: all 0.5s ease-in-out;
  opacity: 0;


}
/* The Close Button */
.close {
    color: #aaa;
    position: relative;
    top: -60px;
    right: 30px;
    font-weight: bold;

}
.close:hover,
.close:focus {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
}
/* Add Animation */
#shopModalImg {
    box-shadow: 0px 0px 10px 3px black;
    -webkit-animation-name: zoom1;
    -webkit-animation-duration: 0.4s;
    animation-name: zoom1;
    animation-duration: 0.4s;
}
//awesome buttons
// #shopBtn {

//   position: relative;
// 	display: inline-block;
// 	padding: 1.2em 2em;
// 	text-decoration: none;
// 	text-align: center;
// 	cursor: pointer;
// 	user-select: none;
// 	color: white;

//     &::before {
//         content: '';
//         position: absolute;
//         top: 0;
//         left: 0;
//         bottom: 0;
//         right: 0;
//         background: linear-gradient(135deg, #6e8efb, #a777e3);
//         border-radius: 4px;
//         transition: box-shadow .5s ease, transform .2s ease;
//         box-shadow: 0 2px 5px rgba(0, 0, 0, .2);

//         will-change: transform;
//         transform:
//             translateY(var(--ty, 0))
//             rotateX(var(--rx, 0))
//             rotateY(var(--ry, 0))
//             translateZ(var(--tz, -12px));
//     }

//     &:hover::before {
//         box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
//     }

//     &::after {
//         position: relative;
//         display: inline-block;

//         transition: transform .2s ease;
//         font-weight: bold;
//         letter-spacing: .01em;


//         will-change: transform;
//         transform:
//             translateY(var(--ty, 0))
//             rotateX(var(--rx, 0))
//             rotateY(var(--ry, 0));
//     }
// }


@-webkit-keyframes zoom1 {
    from {-webkit-transform:scale(0);opacity:1}
    to {-webkit-transform:scale(0.8);opacity:1}
}

@keyframes zoom1 {
    from {transform:scale(0);opacity:1}
    to {transform:scale(0.8);opacity:1}
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    #shopModalImg {
        width: 100%;
    }
    .bicycleInfo {
      height: 200px;
    }
}
