$body-theme: hsl(34, 100%, 95%);
$bike-theme: hsl(24, 99%, 52%);
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

#signUpText {
  color: black;
  font-size: 100px;
}

#signUpForm {
  width: 500px;
  margin: auto;
}

input[type='password'],
input[type="email"],
input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  height: 55px;
  display: inline-block;
  border-radius: 5px;
  padding: 0 15px;
  margin: 10px 0;
}

.fa-eye-slash {
  color: #aaa;
  font-size: 22px;
  position: absolute;
  right: 25px;
  top: 60px;
}

.progress-bar_wrap {
  width: 300px;
  height: 5px;
  background: #F6F6FA;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  border-radius: 5px;
}

.form-1 .progress-bar_item1,
.form-1 .progress-bar_item2 {
  display: inline-block;
  height: 100%;
  width: 33.33%;
  float: left;
  visibility: hidden;
  transition: background-color 0.2s, visisility 0.1s;
}

.form-1 .active1,
.form-1 .active2 {
  visibility: visible;
}

.form-1 label {
  display: block;
  position: relative;
  text-transform: uppercase;
  color: #aaa;
}

.progress-bar_text1,
.progress-bar_text2 {
  display: inline-block;
  color: #aaa;
  margin-left: 5px;
  transition: 0.2s;
}

.register {
  width: 50%;
  display: block;
  margin: 7% auto 10%;

  &:hover {
    background-color: hsl(19, 96%, 40%);
  }
}
@media only screen and (max-width: 950px) {
  #signUpText {
    margin-top: 83px;
  }
}
@media only screen and (max-width: 600px) {
  #signUpForm {
    width: 400px;
  }
  .progress-bar_wrap {
    width: 200px;
  }
  #signUpText {
    font-size: 80px;
  }
}
@media only screen and (max-width: 450px) {
  #signUpForm {
    width: 300px;
  }
  .progress-bar_wrap {
    width: 100px;
  }
  #signUpText {
    font-size: 60px;
  }
}
