$body-theme: hsl(34, 100%, 95%);

.userTitle {
   width: 35%;
    position: relative;
    left: 30%;
    padding: 20px;
}
.showBody {
    padding-top: 8px;
    background-color:  $body-theme;
    min-height: 800px;
    margin: 0;
     box-shadow: 0px 6px 15px #888888;
}

.userContain{
    padding-top: 8px;
    margin: 0;
    min-height: 800px;
    z-index: 100;
    background: $body-theme;
    box-shadow: 0px 6px 15px #888888;
}
.feedTitle{
    width: 60%;
    margin-left: 13%;
    padding: 10px;
}
.profileTitle{
    width: 32%;
    margin-left: 25%;
    padding: 10px;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 20px;
    border-bottom: 1px solid gray;
  }
}

.titleContain{
    background: $body-theme;
   
}

.noPost {
    width: 40%;
    margin-top: 30px;
    margin-left: 22%;

    opacity: 0.8;
}