$body-theme: rgb(252, 252, 252);

.userTitle {
   width: 35%;
    position: relative;
    left: 30%;
    padding: 20px;
}
.showBody {
    padding-top: 8px;
    background-color:  $body-theme;
    min-height: 800px;
    margin: 0;
}

.userContain{
    padding-top: 8px;
    margin: 0;
    min-height: 800px;
    z-index: 100;
    background: $body-theme;

}
.feedTitle{
    width: 60%;
    margin-left: 13%;
    padding: 10px;
}
.profileTitle{
    width: 32%;
    margin-left: 25%;
    padding: 10px;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 20px;
    border-bottom: 1px solid gray;
  }
}

.titleContain{
    background: $body-theme;

}

.noPost {
    width: 40%;
    margin-top: 30px;
    margin-left: 22%;

    opacity: 0.8;
}

// Edit Users

.editForm{
  height: 130%;
  text-align: center;
  position: relative;
  z-index: 1;
}
.editForm:before {
  position: absolute;
  z-index: -1;
  height: 1150px;
  width: 100%;
  background: url('Login & Sign up/accounting.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.gravatar_edit{
  margin: auto;
  padding: 20px;
  img {
    width: 16%;
    border-radius: 115px;
  }
}

.updateTitle{
   width: 40%;
  margin-top: 20px;

}

.zoomInGrav {
  position: relative;
  img{
  z-index: 100;
  cursor: pointer;
  overflow: hidden;
  background: black;
  transition: all 0.45s ease-in-out;
}
}
.change{
  z-index: 101;
  color: white;
  position: absolute;

  padding-left: 10px;
  padding-right: 10px;
  padding: 5px;
  left: 46.6%;
  bottom: 10%;
  font-size: 27px;
  font-family: 'Signika Negative', sans-serif;
  opacity: 0;
  transition: all 0.45s ease-in-out;
   a{
    color: white;
    text-decoration: none;
  }
}
.displayChange {
   opacity: 0.9;
   transition: all 0.45s ease-in-out;

}
.zoomIn1 {
  filter: brightness(70%);
    position: relative;
    transform: scale(1.05);
    transition: all 0.45s ease-in-out;
}
