$body-theme: rgb(252, 252, 252);

#editForm {
  width: 500px;
  margin: auto;
}

.userTitle {
   width: 35%;
    position: relative;
    left: 30%;
    padding: 20px;
}
.showBody {
    padding-top: 8px;
    background-color:  $body-theme;
    min-height: 800px;
    margin: 0;
}

.userContain{
    padding-top: 8px;
    margin: 0;
    min-height: 800px;
    z-index: 100;
    background: $body-theme;

}
.feedTitle{
    width: 60%;
    margin-left: 13%;
    padding: 10px;
}
.profileTitle{
    width: 32%;
    margin-left: 25%;
    padding: 10px;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 20px;
    border-bottom: 1px solid gray;
  }
}

.titleContain{
    background: $body-theme;

}

.noPost {
    width: 40%;
    margin-top: 30px;
    margin-left: 22%;
    opacity: 0.8;
}


.gravatar_edit{
  width: 230px;
  height: 230px;
  margin: auto;
  margin-top: 30px;
  position: relative;
  img {
  transition: all 0.45s ease-in-out;
  display: block;
  margin: auto;
  width: 230px;
  border-radius: 135px;
 }
}
.change{
  z-index: 1000;
  color: white;
  position: absolute;
  left: 35%;
  bottom: 15%;
  margin: auto;
  font-size: 27px;
  font-family: 'Oleo Script', sans-serif;
  opacity: 0;
  transition: all 0.45s ease-in-out;
  text-decoration: none;
  &:hover {
    color: white
}
}
.displayChange {
   opacity: 1;
   transition: all 0.45s ease-in-out;
}
.darken {
  filter: brightness(70%);
}
@media only screen and (max-width: 950px) {
  .gravatar_edit img {
    margin-top: 73px;
  }
}
@media only screen and (max-width: 600px) {
  #editForm {
    width: 400px;
  }
}
@media only screen and (max-width: 450px) {
   #editForm {
    width: 300px;
  }
}
